@charset "UTF-8";

:root {
    color-scheme: light dark;
    --main-color: #7f00ff;
    --button-backColor: #888;
    --body-textColor: light-dark(#333, #eee);
    --body-backColor: light-dark(#fff, #333);
    --main-backColor: light-dark(#fff, #111);
    --main-textColor: light-dark(#111, #eee);
    --main-topColor: light-dark(rgba(255, 255, 255, .4), rgba(17, 17, 17, 0));
    --main-borderColor01: #fcf;
    --main-borderColor02: #ccf;
    --main-borderColor03: #ffc;
}

html {
    scrollbar-width: none; /* iframe用 */
}

body {
    position: relative;
    margin: 0;
    background-color: var(--body-backColor);
    font-family: "Noto Sans JP", sans-serif;
    font-size: min(calc( ( 100vw * 16 ) / 1024 ), 16px);
    ul {
        list-style: none;
        padding-left: 0;
    }
    a {
        text-decoration: none;
    }
    p {
        margin-top: 0;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    nav {
        ul {
            li {
                cursor: pointer;
            }
        }
    }

    .common-settings {
        position: fixed;
        width: calc(100% / 3);
    }
    .blur {
        backdrop-filter: blur(10px);
    }
    .is-selected {
        color: var(--main-color);
    }

    /* 画面下部に常時表示するメニュー */
    .bottom-of-screen {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        border: min(0.98vw, 10px) solid #000;
        border-top: none;
        border-bottom-left-radius: min(3.52vw, 36px);
        border-bottom-right-radius: min(3.52vw, 36px);
        background-color: rgba($color: #111, $alpha: .4);
        backdrop-filter: blur(10px);
        ul {
            display: flex;
            justify-content: space-between;
            gap: min(2.34vw, 24px);
            margin: 0;
            padding: min(1.56vw, 16px) min(3.52vw, 36px);
            font-size: min(calc((100vw * 12) / 1024), 12px);
            font-weight: 600;
            color: #fff;
            li {
                .works__icon {
                    margin: 0 auto;
                    width: min(2.93vw, 30px);
                    height: min(2.93vw, 30px);
                    background: url(../img/works__icon.png) center center no-repeat;
                    background-size: 100%;
                    &::after {
                        content: '';
                        display: none;
                        width: min(2.93vw, 30px);
                        height: min(2.93vw, 30px);
                        background: url(../img/works__icon-selected.png) center center no-repeat;
                        background-size: 100%;
                    }
                }
                .about__icon {
                    margin: 0 auto;
                    width: min(2.93vw, 30px);
                    height: min(2.93vw, 30px);
                    background: url(../img/about__icon.png) center center no-repeat;
                    background-size: 100%;
                    &::after {
                        content: '';
                        display: none;
                        width: min(2.93vw, 30px);
                        height: min(2.93vw, 30px);
                        background: url(../img/about__icon-selected.png) center center no-repeat;
                        background-size: 100%;
                    }
                }
                .contact__icon {
                    margin: 0 auto;
                    width: min(2.93vw, 30px);
                    height: min(2.93vw, 30px);
                    background: url(../img/contact__icon.png) center center no-repeat;
                    background-size: 100%;
                    &::after {
                        content: '';
                        display: none;
                        width: min(2.93vw, 30px);
                        height: min(2.93vw, 30px);
                        background: url(../img/contact__icon-selected.png) center center no-repeat;
                        background-size: 100%;
                    }
                }
                p {
                    width: fit-content;
                    margin: 0 auto;
                }
                &.is-selected {
                    .works__icon {
                        &::after {
                            display: block;
                        }
                    }
                    .about__icon {
                        &::after {
                            display: block;
                        }
                    }
                    .contact__icon {
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    /*===== 各メニューの見出し =====*/
    .title-box {
        h2 {
            font-size: min(calc((100vw * 36) / 1024), 36px);
        }

        p {
            margin: 0;
            font-size: min(calc((100vw * 12) / 1024), 12px);
        }
    }
    /*===== PC画面左側 =====*/
    #left-side {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: left;
        h1 {
            width: fit-content;
            margin: 0 auto;
            padding: min(2.34vw, 24px);
            font-size: min(calc((100vw * 56) / 1024), 56px);
            font-weight: 500;
            color: var(--body-textColor);
            line-height: 1.3;
        }
    }
    /*===== メインコンテンツ =====*/
    #main-contents {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 812px;
        max-width: 375px;
        aspect-ratio: 9 / 16;
        border: min(0.29vw, 3px) solid var(--main-borderColor01);
        border-radius: min(3.71vw, 38px);
        box-shadow: 0 0 8px rgba($color: #111, $alpha: .6);
        background-color: var(--main-backColor);
        #main-contents__wrapper {
            height: 100%;
            overflow: scroll;
            border: min(0.98vw, 10px) solid #000;
            border-radius: min(3.52vw, 36px);
            scrollbar-width: none;
            .top-of-screen {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9999;
                width: 100%;
                height: min(5.86vw, 60px);
                border: min(0.98vw, 10px) solid #000;
                border-bottom: none;
                border-top-left-radius: min(3.52vw, 36px);
                border-top-right-radius: min(3.52vw, 36px);
                background-color: var(--main-topColor);
                #real-time {
                    position: absolute;
                    top: min(2.34vw, 24px);
                    left: min(2.93vw, 30px);
                    z-index: 3;
                    width: fit-content;
                    color: var(--main-textColor);
                    font-family: "Roboto", sans-serif;
                    font-weight: bold;
                }
                .camera-like-parts {
                    position: absolute;
                    left: 50%;
                    z-index: 3;
                    transform: translateX(-50%);
                    width: min(13.67vw, 140px);
                    height: min(3.91vw, 40px);
                    border-bottom-left-radius: min(2.34vw, 24px);
                    border-bottom-right-radius: min(2.34vw, 24px);
                    background-color: #000;
                }
                .frame-color_selector {
                    position: absolute;
                    top: min(2.34vw, 24px);
                    right: min(2.34vw, 24px);
                    z-index: 3;
                    width: fit-content;
                    padding: min(0.39vw, 4px);
                    background-color: light-dark(#eee, #555);
                    .selector-box {
                        display: flex;
                        justify-content: space-around;
                        gap: min(0.39vw, 4px);
                        button {
                            width: min(1.56vw, 16px);
                            height: min(1.56vw, 16px);
                            border: none;
                            cursor: pointer;
                            &:nth-child(1) {
                                background-color: var(--main-borderColor01);
                            }
                            &:nth-child(2) {
                                background-color: var(--main-borderColor02);
                            }
                            &:nth-child(3) {
                                background-color: var(--main-borderColor03);
                            }
                        }
                    }
                }
            }
            /*===== 作品セクション =====*/
            #works {
                width: 90%;
                height: 100%;
                margin: min(5.86vw, 60px) auto min(9.77vw, 100px);
                .category-button {
                    display: flex;
                    gap: min(2.34vw, 24px);
                    margin-top: min(1.95vw, 20px);
                    overflow-y: scroll;
                    scrollbar-width: none;
                    button {
                        padding: min(0.78vw, 8px);
                        border: none;
                        border-radius: min(1.56vw, 16px);
                        background-color: var(--button-backColor);
                        color: #eee;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                }
                .works-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: min(0.98vw, 10px);
                    row-gap: min(1.95vw, 20px);
                    width: 100%;
                    margin: min(1.95vw, 20px) auto;
                    padding-bottom: min(9.77vw, 100px);
                    .works-list-item {
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        width: min(14.65vw, 150px);
                        margin: 0 auto;
                        .works-list-img {
                            width: min(14.65vw, 150px);
                            height: min(14.65vw, 150px);
                            border-radius: min(0.78vw, 8px);
                            border: min(0.1vw, 1px) solid rgba($color: #888, $alpha: .2);
                            margin: 0 auto;
                        }
                        .works-list-img01 {
                            background: url(../img/portfolio-site02.png) center center no-repeat #000;
                            background-size: 100%;
                        }
                        .works-list-img02 {
                            background: url(../img/flower-banner.png) center center no-repeat #000;
                            background-size: 100%;
                        }
                        .works-list-img03 {
                            background: url(../img/mockup_portfolio-site01.png) center center no-repeat;
                            background-size: 100%;
                        }
                        .works-list-img04 {
                            background: url(../img/re_musiclesson-lp_fv.png) center center no-repeat #000;
                            background-size: 100%;
                        }
                        .works-list-img05 {
                            background: url(../img/mockup_mrl.png) center center no-repeat;
                            background-size: 100%;
                        }
                        h3 {
                            display: block;
                            margin-top: min(0.2vw, 2px);
                            overflow: hidden;
                            font-size: min(calc((100vw * 16) / 1024), 16px);
                            font-weight: bold;
                            line-height: 1.3;
                            text-align: left;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .works__category-name {
                            margin: 0;
                            color: var(--button-backColor);
                            font-size: min(calc((100vw * 12) / 1024), 12px);
                            font-weight: 400;
                            text-align: left;
                        }
                    }
                }
                .works-iframe {
                    animation: slideIn .5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
                }
                @keyframes slideIn {
                    0% {
                        opacity: 0;
                        transform: translateY(100px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                    20%,
                    100% {
                        opacity: 1;
                    }
                }
            }
            /*===== 自己紹介セクション =====*/
            #about {
                display: none;
                width: 100%;
                margin: min(5.86vw, 60px) auto min(9.77vw, 100px);
                .about__img {
                    position: relative;
                    z-index: -1;
                    height: min(29.3vw, 300px);
                    background: url(../img/about__me.jpg) center center no-repeat #eee;
                    background-size: cover;
                    .about__img_filter {
                        position: absolute;
                        opacity: .7;
                        width: 100%;
                        height: min(29.3vw, 300px);
                        background: linear-gradient(#fff, #333);
                    }
                    .about__name {
                        position: absolute;
                        left: min(1.56vw, 16px);
                        bottom: min(1.56vw, 16px);
                        z-index: 2;
                        color: #fff;
                    }
                }
                #about__wrapper {
                    width: 90%;
                    margin: 0 auto;
                    .self-introduction {
                        margin-top: min(1.56vw, 16px);
                        text-align: justify;
                    }
                    .about__skill_box {
                        .skill_title {
                            h3 {
                                font-size: min(calc((100vw * 30) / 1024), 30px);
                                text-align: left;
                            }
                            p {
                                font-size: min(calc((100vw * 12) / 1024), 12px);
                            }
                        }
                        .skill_list {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            column-gap: min(0.98vw, 10px);
                            row-gap: min(1.95vw, 20px);
                            margin-top: min(1.56vw, 16px);
                            padding-left: 0;
                            li {
                                position: relative;
                                width: min(7.81vw, 80px);
                                margin: 0 auto;
                                height: min(7.81vw, 80px);
                                border-radius: min(0.78vw, 8px);
                                border: min(0.1vw, 1px) solid rgba($color: #888, $alpha: .2);
                                p {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: fit-content;
                                    font-size: min(calc((100vw * 30) / 1024), 30px);
                                    font-weight: 600;
                                }
                                &:nth-child(1) {
                                    background-color: #0d335e;
                                    color: #378def;
                                }
                                &:nth-child(2) {
                                    background-color: #361d06;
                                    color: #e68123;
                                }
                                &:nth-child(3) {
                                    background-color: #54085a;
                                    color: #da29e7
                                }
                                &:nth-child(4) {
                                    background: url(../img/Sass_Logo_Color.png) center center no-repeat #fff;
                                    background-size: 100%;
                                }
                                &:nth-child(5) {
                                    background: url(../img/jquery-1.svg) center center no-repeat #fff;
                                    background-size: 100%;
                                }
                                &:nth-child(6) {
                                    background: url(../img/php-logo.svg) center center no-repeat #fff;
                                    background-size: 100%;
                                }
                                &:nth-child(7) {
                                    background: url(../img/worpress_logo.png) center center no-repeat #fff;
                                    background-size: 100%;
                                }
                            }
                        }
                    }
                }
            }
            /*===== 連絡先セクション =====*/
            #contact {
                display: none;
                width: 90%;
                margin: min(5.86vw, 60px) auto min(9.77vw, 100px);
                .contact-box {
                    width: 100%;
                    margin: min(2.34vw, 24px) 0;
                    ul {
                        display: flex;
                        padding-left: 0;
                        li {
                            width: min(7.81vw, 80px);
                            height: min(7.81vw, 80px);
                            margin: 0 auto;
                            border: min(0.1vw, 1px) solid rgba($color: #888, $alpha: .2);
                            border-radius: min(0.78vw, 8px);
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                            &:nth-child(1) {
                                background: url(../img/x-logo.png) center center no-repeat #fff;
                                background-size: 60%;
                            }
                            &:nth-child(2) {
                                background: url(../img/Instagram_Glyph_Black.svg) center center no-repeat #fff;
                                background-size: 60%;
                            }
                            &:nth-child(3) {
                                background: url(../img/vivivit_service_logo_RGB_black.png) center center no-repeat #fff;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    /*===== PC画面右側 =====*/
    #right-side {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        text-align: left;
        h2 {
            width: fit-content;
            margin: 0 auto;
            padding: min(2.34vw, 24px);
            font-size: min(calc((100vw * 56) / 1024), 56px);
            font-weight: 500;
            color: var(--body-textColor);
            line-height: 1.3;
        }
    }
}

/*=== iframe(WORKS個別ページ)用 ===*/
.works-item-bg {
    background-color: var(--main-backColor);
}
.add_margin-bottom {
    margin-bottom: min(7.5vw, 24px);
}
#works-item-detail {
    width: 100%;
    scrollbar-width: none;
    .back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(11.25vw, 36px);
        height: min(11.25vw, 36px);
        border: none;
        border-radius: min(5.63vw, 18px);
        background-color: transparent;
        cursor: pointer;
        span {
            display: block;
            width: min(3.75vw, 12px);
            height: min(3.75vw, 12px);
            rotate: 45deg;
            border-left: min(0.94vw, 3px) #93f solid;
            border-bottom: min(0.94vw, 3px) #93f solid;
        }
    }
    .works-item_fv {
        width: min(93.75vw, 300px);
        height: min(93.75vw, 300px);
        margin: 0 auto;
        border: min(0.31vw, 1px) solid rgba($color: #888, $alpha: .6);
        border-radius: min(5vw, 16px);
    }
    .portfolio02_fv {
        background: url(../img/portfolio-site02.png) center center no-repeat;
        background-size: 100%;
    }
    .flower_subscription {
        background: url(../img/flower-banner.png) center center no-repeat;
        background-size: 100%;
    }
    .portfolio01_mockup {
        background: url(../img/mockup_portfolio-site01.png) center center no-repeat;
        background-size: 100%;
    }
    .music-lesson_fv {
        background: url(../img/re_musiclesson-lp_fv.png) center center no-repeat;
        background-size: 100%;
    }
    .mrl_fv {
        background: url(../img/mockup_mrl.png) center center no-repeat;
        background-size: 100%;
    }
    .works-item_title {
        text-align: center;
        h1 {
            margin-top: min(5vw, 16px);
            font-size: min(calc((100vw * 24) / 320), 24px);
        }
        p {
            margin: min(2.5vw, 8px) 0 min(5vw, 16px);
            color: #888;
            font-size: min(calc((100vw * 12) / 320), 12px);
        }
    }
    .works-information {
        padding-left: 0;
        border-top: min(0.31vw, 1px) solid rgba($color: #888, $alpha: .6);
        li {
            padding: min(2.5vw, 8px) 0;
            border-bottom: min(0.31vw, 1px) solid rgba($color: #888, $alpha: .6);
            font-size: min(calc((100vw * 20) / 320), 20px);
            &::marker {
                color: rgba($color: #888, $alpha: .8);
            }
            details {
                display: inline-block;
                margin: 0 min(5vw, 16px);
                summary {
                    position: relative;
                    list-style: none;
                    cursor: pointer;
                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        transition: transform .2s;
                    }
                }
                &[open] {
                    summary::after {
                        transform: scaleY(-1);
                    }
                }
                h3 {
                    font-weight: 400;
                    font-size: min(calc((100vw * 16) / 320), 16px);
                }
                p {
                    width: 100%;
                    margin: min(2.5vw, 8px) auto;
                    text-align: justify;
                    font-weight: 400;
                    font-size: min(calc((100vw * 16) / 320), 16px);
                    a {
                        color: var(--main-color);
                    }
                }
                li {
                    padding: 0;
                    list-style-type: disc;
                    list-style-position: inside;
                    font-size: min(calc((100vw * 16) / 320), 16px);
                    border-bottom: none;
                }
            }
        }
    }
    .complete-date {
        color: #888;
        font-size: min(calc((100vw * 12) / 320), 12px);
    }
    .copyright {
        color: #888;
        font-size: min(calc((100vw * 12) / 320), 12px);
    }
}

/*==========================================================*/

/*===== カリー音楽教室 個別ページ =====*/
#lp_music-lesson {
    .home {
        display: flex;
        justify-content: space-between;
        margin: min(2.93vw, 30px) min(2.93vw, 30px) min(2.34vw, 24px);
        h1 {
            margin: auto 0;
        }
        a {
            width: 100%;
            height: 100%;
        }
        button {
            padding: min(1.56vw, 16px);
            border: none;
            border-radius: min(0.78vw, 8px);
            background-color: var(--main-color);
        }
    }
    .music-lesson_fv {
        width: 100%;
        height: min(58.59vw, 600px);
        background: url(../img/re_musiclesson-lp_fv_individual-page.png) center center no-repeat;
        background-size: 100%;
    }
    #music-lesson_redesigned {
        margin: min(4.69vw, 48px) 0 min(5.86vw, 60px);
        h2 {
            margin: 0 min(2.93vw, 30px) min(2.93vw, 30px);
            font-size: min(calc((100vw * 30) / 1024), 30px);
        }
        .redesigned {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 90%;
            .redesigned-PC {
                width: 40%;
                p {
                    width: fit-content;
                    margin: 0 auto min(1.56vw, 16px);
                    font-size: min(calc((100vw * 24) / 1024), 24px);
                    font-weight: 500;
                }
                .redesigned-PC_img {
                    height: min(97.66vw, 1000px);
                    background: url(../img/re_musiclesson-lp_pc_design.png) center center no-repeat;
                    background-size: contain;
                }
            }
            .redesigned-SP {
                width: 40%;
                p {
                    margin: 0 auto min(1.56vw, 16px);
                    width: fit-content;
                    font-size: min(calc((100vw * 24) / 1024), 24px);
                    font-weight: 500;
                }
                .redesigned-SP_img {
                    height: min(97.66vw, 1000px);
                    background: url(../img/re_musiclesson-lp_sp_design.png) center center no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    #music-lesson_original {
        margin: min(4.69vw, 48px) 0 min(5.86vw, 60px);
        border-top: min(0.1vw, 1px) solid #555;
        h2 {
            margin: min(2.93vw, 30px);
            font-size: min(calc((100vw * 30) / 1024), 30px);
        }
        .original {
            display: flex;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
            .original-PC {
                width: 40%;
                p {
                    width: fit-content;
                    margin: 0 auto min(1.56vw, 16px);
                    font-size: min(calc((100vw * 24) / 1024), 24px);
                    font-weight: 500;
                }
                .original-PC_img {
                    height: min(97.66vw, 1000px);
                    background: url(../img/musiclesson-lp_pc_design.png) center center no-repeat;
                    background-size: contain;
                }
            }
            .original-SP {
                width: 40%;
                p {
                    width: fit-content;
                    margin: 0 auto min(1.56vw, 16px);
                    font-weight: 500;
                    font-size: min(calc((100vw * 24) / 1024), 24px);
                }
                .original-SP_img {
                    height: min(97.66vw, 1000px);
                    background: url(../img/musiclesson-lp_sp_design.png) center center no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    #music-lesson_the-first {
        margin: min(4.69vw, 48px) 0 min(5.86vw, 60px);
        border-top: min(0.1vw, 1px) solid #555;
        h2 {
            margin: min(2.93vw, 30px);
            font-size: min(calc((100vw * 30) / 1024), 30px);
        }
        .the-first {
            width: 90%;
            margin: 0 auto;
            p {
                margin: 0 auto min(1.56vw, 16px);
                width: fit-content;
                font-weight: 500;
                font-size: min(calc((100vw * 24) / 1024), 24px);
            }
            .the-first-PC_img {
                height: min(97.66vw, 1000px);
                background: url(../img/music-lesson-lp_thefirst_image.png) center center no-repeat;
                background-size: contain;
            }
        }
    }
}
footer {
    margin: min(2.93vw, 30px);
    text-align: right;
}

/*===== responsive =====*/
@media screen and (max-width: 767px) {
    body {
        width: 100%;
        height: 100%;
        font-size: min(calc((100vw * 16) / 767), 16px);
        iframe {
            height: 100vh;
        }
        #left-side {
            display: none;
        }
        #main-contents {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            border: none;
            border-radius: 0;
            #main-contents__wrapper {
                width: 100%;
                border: none;
                border-radius: 0;
                .top-of-screen {
                    display: none;
                }
                .bottom-of-screen {
                    bottom: -1px;
                    border: none;
                    border-radius: 0;
                    nav {
                        margin: 0 auto;
                        width: 60%;
                        ul {
                            gap: min(3.13vw, 24px);
                            padding: min(2.09vw, 16px) min(4.69vw, 36px);
                            font-size: min(calc((100vw * 12) / 767), 12px);
                            li {
                                .works__icon {
                                    width: min(5.22vw, 40px);
                                    height: min(5.22vw, 40px);
                                    &::after {
                                        width: min(5.22vw, 40px);
                                        height: min(5.22vw, 40px);
                                    }
                                }
                                .about__icon {
                                    width: min(5.22vw, 40px);
                                    height: min(5.22vw, 40px);
                                    &::after {
                                        width: min(5.22vw, 40px);
                                        height: min(5.22vw, 40px);
                                    }
                                }
                                .contact__icon {
                                    width: min(5.22vw, 40px);
                                    height: min(5.22vw, 40px);
                                    &::after {
                                        width: min(5.22vw, 40px);
                                        height: min(5.22vw, 40px);
                                    }
                                }
                            }
                        }
                    }
                }
                .title-box {
                    h2 {
                        font-size: min(calc((100vw * 48) / 767), 48px);
                    }
                    p {
                        font-size: min(calc((100vw * 20) / 767), 20px);
                    }
                }
                #works {
                    margin: min(5.22vw, 40px) auto min(13.04vw, 100px);
                    .category-button {
                        gap: min(3.13vw, 24px);
                        margin-top: min(2.61vw, 20px);
                        button {
                            padding: min(1.04vw, 8px) min(2.09vw, 16px);
                            border: none;
                            border-radius: min(2.61vw, 20px);
                            background-color: var(--button-backColor);
                            color: #eee;
                            font-size: min(calc((100vw * 20) / 767), 20px);
                        }
                    }
                    .works-list {
                        column-gap: min(1.3vw, 10px);
                        row-gap: min(2.61vw, 20px);
                        margin: min(5.22vw, 40px) auto;
                        .works-list-item {
                            width: min(39.11vw, 300px);
                            .works-list-img {
                                width: min(39.11vw, 300px);
                                height: min(39.11vw, 300px);
                                border-radius: min(1.04vw, 8px);
                                border: min(0.13vw, 1px) solid rgba($color: #888, $alpha: .2);
                            }
                            h3 {
                                margin-top: min(0.26vw, 2px);
                                font-size: min(calc((100vw * 24) / 767), 24px);
                                line-height: 1.3;
                                text-align: left;
                            }
                            .works__category-name {
                                font-size: min(calc((100vw * 16) / 767), 16px);
                            }
                        }
                    }
                }
                #about {
                    margin: 0 auto min(13.04vw, 100px);
                    .about__img {
                        height: min(65.19vw, 500px);
                        .about__img_filter {
                            height: min(65.19vw, 500px);
                        }
                        .about__name {
                            left: min(3.13vw, 24px);
                            bottom: min(3.13vw, 24px);
                            font-size: min(calc((100vw * 36) / 767), 36px);
                        }
                    }
                    #about__wrapper {
                        .self-introduction {
                            margin-top: min(2.09vw, 16px);
                            font-size: min(calc((100vw * 20) / 767), 20px);
                        }
                        .about__skill_box {
                            .skill_title {
                                h3 {
                                    font-size: min(calc((100vw * 36) / 767), 36px);
                                }
                                p {
                                    font-size: min(calc((100vw * 16) / 767), 16px);
                                }
                            }
                            .skill_list {
                                column-gap: 0;
                                row-gap: min(4.69vw, 36px);
                                width: 90%;
                                margin: min(3.91vw, 30px) auto;
                                li {
                                    width: min(20.86vw, 160px);
                                    height: min(20.86vw, 160px);
                                    border-radius: min(1.04vw, 8px);
                                    border: min(0.13vw, 1px) solid rgba($color: #888, $alpha: .2);
                                    p {
                                        font-size: min(calc((100vw * 48) / 767), 48px);
                                    }
                                }
                            }
                        }
                    }
                }
                #contact {
                    margin: min(5.22vw, 40px) auto min(13.04vw, 100px);
                    .contact-box {
                        margin: min(3.13vw, 24px) 0;
                        p {
                            font-size: min(calc((100vw * 20) / 767), 20px);
                        }
                        ul {
                            display: flex;
                            width: 80%;
                            margin: 0 auto;
                            padding-left: 0;
                            li {
                                width: min(15.65vw, 120px);
                                height: min(15.65vw, 120px);
                                margin: min(3.91vw, 30px) auto;
                                border: min(0.13vw, 1px) solid rgba($color: #888, $alpha: .2);
                                border-radius: min(1.04vw, 8px);
                                &:nth-child(1) {
                                    background-size: 60%;
                                }
                                &:nth-child(2) {
                                    background-size: 60%;
                                }
                                &:nth-child(3) {
                                    background-size: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        #right-side {
            display: none;
        }
    }
}

@media screen and (max-width: 650px) {
    body {
        #main-contents {
            #main-contents__wrapper {
                .bottom-of-screen {
                    border: none;
                    border-radius: 0;
                    nav {
                        ul {
                            padding: min(2.09vw, 16px) min(4.69vw, 36px);
                            font-size: min(calc((100vw * 12) / 650), 12px);
                            li {
                                .works__icon {
                                    width: min(7.38vw, 48px);
                                    height: min(7.38vw, 48px);
                                    &::after {
                                        width: min(7.38vw, 48px);
                                        height: min(7.38vw, 48px);
                                    }
                                }
                                .about__icon {
                                    width: min(7.38vw, 48px);
                                    height: min(7.38vw, 48px);
                                    &::after {
                                        width: min(7.38vw, 48px);
                                        height: min(7.38vw, 48px);
                                    }
                                }
                                .contact__icon {
                                    width: min(7.38vw, 48px);
                                    height: min(7.38vw, 48px);
                                    &::after {
                                        width: min(7.38vw, 48px);
                                        height: min(7.38vw, 48px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    body {
        font-size: min(calc((100vw * 16) / 470), 16px);
        #main-contents {
            #main-contents__wrapper {
                .bottom-of-screen {
                    nav {
                        margin: 0 auto;
                        width: 80%;
                            ul {
                                gap: min(5.11vw, 24px);
                                padding: min(3.4vw, 16px) min(7.66vw, 36px);
                                font-size: min(calc((100vw * 12) / 470), 12px);
                                li {
                                    .works__icon {
                                        width: min(8.51vw, 40px);
                                        height: min(8.51vw, 40px);
                                        &::after {
                                            width: min(8.51vw, 40px);
                                            height: min(8.51vw, 40px);
                                        }
                                    }
                                    .about__icon {
                                        width: min(8.51vw, 40px);
                                        height: min(8.51vw, 40px);
                                        &::after {
                                            width: min(8.51vw, 40px);
                                            height: min(8.51vw, 40px);
                                        }
                                    }
                                    .contact__icon {
                                        width: min(8.51vw, 40px);
                                        height: min(8.51vw, 40px);
                                        &::after {
                                            width: min(8.51vw, 40px);
                                            height: min(8.51vw, 40px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                .title-box {
                    h2 {
                        margin-top: min(6.38vw, 30px);
                        font-size: min(calc((100vw * 48) / 470), 48px);
                    }
                    p {
                        font-size: min(calc((100vw * 16) / 470), 16px);
                    }
                }
                #works {
                    margin: min(5.22vw, 40px) auto min(21.28vw, 100px);
                    .category-button {
                        gap: min(3.4vw, 16px);
                        margin-top: min(2.61vw, 20px);
                        button {
                            padding: min(1.7vw, 8px) min(3.4vw, 16px);
                            border-radius: min(6.38vw, 30px);
                            font-size: min(calc((100vw * 30) / 767), 30px);
                        }
                    }
                    .works-list {
                        column-gap: min(1.3vw, 10px);
                        row-gap: min(2.61vw, 20px);
                        margin: min(5.22vw, 40px) auto;
                        .works-list-item {
                            width: min(42.55vw, 200px);
                            .works-list-img {
                                width: min(42.55vw, 200px);
                                height: min(42.55vw, 200px);
                                border-radius: min(1.04vw, 8px);
                                border: min(0.13vw, 1px) solid rgba($color: #888, $alpha: .2);
                            }
                            h3 {
                                margin-top: min(0.85vw, 4px);
                                font-size: min(calc((100vw * 20) / 470), 20px);
                                line-height: 1.3;
                                text-align: left;
                            }
                            .works__category-name {
                                font-size: min(calc((100vw * 12) / 470), 12px);
                            }
                        }
                    }
                }
                #about {
                    margin: 0 auto min(21.28vw, 100px);
                    .about__img {
                        height: min(85.11vw, 400px);
                        .about__img_filter {
                            height: min(85.11vw, 400px);
                        }
                        .about__name {
                            left: min(5.11vw, 24px);
                            bottom: min(5.11vw, 24px);
                            font-size: min(calc((100vw * 36) / 470), 36px);
                        }
                    }
                    #about__wrapper {
                        .self-introduction {
                            font-size: min(calc((100vw * 20) / 470), 20px);
                        }
                        .about__skill_box {
                            .skill_title {
                                h3 {
                                    font-size: min(calc((100vw * 36) / 470), 36px);
                                }
                                p {
                                    font-size: min(calc((100vw * 16) / 470), 16px);
                                }
                            }
                            .skill_list {
                                column-gap: min(4.26vw, 20px);
                                row-gap: min(4.26vw, 20px);
                                width: 100%;
                                margin: min(5.11vw, 24px) 0;
                                li {
                                    width: min(25.53vw, 120px);
                                    height: min(25.53vw, 120px);
                                    border-radius: min(1.04vw, 8px);
                                    border: min(0.13vw, 1px) solid rgba($color: #888, $alpha: .2);
                                    p {
                                        font-size: min(calc((100vw * 48) / 470), 48px);
                                    }
                                }
                            }
                        }
                    }
                }
                #contact {
                    margin: min(5.22vw, 40px) auto min(13.04vw, 100px);
                    .contact-box {
                        margin: min(3.13vw, 24px) 0;
                        p {
                            font-size: min(calc((100vw * 20) / 470), 20px);
                        }
                        ul {
                            width: 90%;
                            margin: 0 auto;
                            li {
                                width: min(21.28vw, 100px);
                                height: min(21.28vw, 100px);
                                margin: min(3.91vw, 30px) auto;
                                border: min(0.13vw, 1px) solid rgba($color: #888, $alpha: .2);
                                border-radius: min(1.04vw, 8px);
                            }
                        }
                    }
                }
            }
        }
    }
}